
<div >
    <app-loading *ngIf="loading"> </app-loading> 
   
</div>

 
<div class="row" *ngIf="!loading">

        <p-table #dt id="dataTable"  [columns]="cols" [autoLayout]="true" [value]="elementos" selectionMode="single" [resizableColumns]="true"
         [(selection)]="selectedItem" (onRowSelect)="showDialogToUpdate($event)"  [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="caption">
                <div class="row">
                        <div class="col-md-7" style="text-align:left">
                                <button type="button" class="btn btn-outline-info btn-md" (click)="showDialogToAdd()" >Nuevo</button>                               
                        </div> 
                <div class="col-md-5" style="text-align:right">                                
                    <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')" >
                </div>
        </div>
            </ng-template>
        <ng-template pTemplate="header" let-columns >

                <tr>
                    <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  >
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                       
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'domicilio'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'telefono_cel'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cuit'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input class="form-control col-md-12 form-control-sm" *ngSwitchCase="'ing_brutos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                    </th>
                    
                </tr>
            </ng-template>
     
            <ng-template pTemplate="body" let-elementos>
                        <tr [pSelectableRow]="elementos" >
                            <td>{{elementos.apellido}}</td>
                            <td>{{elementos.nombre}}</td>                            
                            <td>{{elementos.fecha_matricula | date: 'dd/MM/yyyy'}}</td>
                            <td>{{elementos.domicilio}}</td>
                            <td>{{elementos.telefono_cel}}</td>                        
                            <td>{{elementos.cuit}}</td>   
                            <td>{{elementos.ing_brutos}}</td>   
                        </tr>
            </ng-template>
                   
        </p-table>
   
</div>