
<div >
  <div class="row d-flex justify-content-center">


      <div class="col-md-4 col-xl-3">
        
          <form >
              <h5>Agenda</h5>
              <hr>
                <div class="form-group ">
                  <div class="row">
                    <div class="col-12">
                        <div class=" clearfix">
                            <button    class="btn btn-info float-left btn-sm"  (click)="buscarAgenda()" [autofocus]="true">Buscar paciente en agenda</button>
                        </div>
                    </div>
                  </div>  
              </div>              
            </form>

            <form [formGroup]="formMedico">
                <h5>Médico</h5>
                <hr>
                  <div class="form-group ">
                    <div class="row">
                      <div class="col-10">
                        <label>Grupo médico</label>
                      </div>  
                      <div class="col-2">
                          <a  (click)="buscarGrupoMedico()">
                            <img class="pointer float-right" src="assets/icons/grey/outline_search_black_18dp.png" width="24px" height="24px"  >
                          </a>
                      </div>
                    </div>
                        <input (keyup.enter)="buscarGrupoMedico()" class="form-control col-md-12 form-control-sm" formControlName="cirugia_grupo_nombre"  />                  
                    <div *ngIf="formMedico.controls.cirugia_grupo_nombre.errors?.required && formMedico.controls.cirugia_grupo_nombre.touched" class="error">
                            * Este campo es requerido
                    </div>
                </div>    
                <div class="form-group ">
                  <div class="row">
                    <div class="col-10">
                      <label>Médico nombre</label>
                    </div>                    
                  </div>                 
                  <input (keyup.enter)="buscarGrupoMedico()"  class="form-control col-md-12 form-control-sm" formControlName="apellido"  />                  
                  <div *ngIf="formMedico.controls.apellido.errors?.required && formMedico.controls.apellido.touched" class="error">
                          * Este campo es requerido
                  </div>
              </div>        

                <div class="form-group ">
                    <div class="row">
                      <div class="col-10">
                        <label>Médico apellido</label>
                      </div>  
                    
                    </div>
                        <input (keyup.enter)="buscarGrupoMedico()"  class="form-control col-md-12 form-control-sm" formControlName="nombre"  />                  
                    <div *ngIf="formMedico.controls.nombre.errors?.required && formMedico.controls.nombre.touched" class="error">
                            * Este campo es requerido
                    </div>
                  </div>  
                
              </form>
              <form [formGroup]="formDatosObraSocial">
                  <h5>Datos de obra social</h5>
                  <hr>
                   
                <div class="form-group ">
                    <div class="row">
                      <div class="col-10">
                        <label  >Obra social número</label>
                      </div>          
                    </div>
                        <input   class="form-control col-md-12 form-control-sm" formControlName="codigo"  />                  
                    <div *ngIf="formDatosObraSocial.controls.codigo.errors?.required && formDatosObraSocial.controls.codigo.touched" class="error">
                            * Este campo es requerido
                    </div>
                  </div>
      
                  <div class="form-group ">
                      <div class="row">
                        <div class="col-10">
                          <label  >Barra</label>
                        </div>          
                      </div>
                          <input  class="form-control col-md-12 form-control-sm" formControlName="barra"  />                  
                      <div *ngIf="formDatosObraSocial.controls.barra.errors?.required && formDatosObraSocial.controls.barra.touched" class="error">
                              * Este campo es requerido
                      </div>
                    </div>
      
                    <div class="form-group ">
                        <div class="row">
                          <div class="col-10">
                            <label  >Bono</label>
                          </div>          
                        </div>
                            <input  class="form-control col-md-12 form-control-sm" formControlName="bono"  />                  
                        <div *ngIf="formDatosObraSocial.controls.barra.errors?.required && formDatosObraSocial.controls.barra.touched" class="error">
                                * Este campo es requerido
                        </div> 
                      </div>
              
                </form>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button  [disabled]="!formDatosObraSocial.valid"  [formGroup]="formObraSocial" class="btn btn-primary" type="submit" (click)="actualizarDatos()" >Crear / Modificar datos de obra social</button>
                    </div>
                </p-footer>
      </div>

      <div class="col-md-4 col-xl-3">
        <form [formGroup]="formPaciente">
          <h5>Paciente</h5>
          <hr>
            <div class="form-group ">
              <div class="row">
                <div class="col-10">
                  <label  >Documento</label>
                </div>  
                <div class="col-2">
                    <a  (click)="buscarPaciente()">
                      <img  class="pointer float-right"  src="assets/icons/grey/outline_search_black_18dp.png" width="24px" height="24px"  >
                    </a>
                </div>
              </div>
                  <input  (keyup.enter)="editarPaciente()" class="form-control col-md-12 form-control-sm" formControlName="paciente_dni"  />                  
              <div *ngIf="formPaciente.controls.paciente_dni.errors?.required && formPaciente.controls.paciente_dni.touched" class="error">
                      * Este campo es requerido
              </div>
          </div>

          <div class="form-group ">
            <div class="row">
              <div class="col-10">
                <label  >Apellido</label>
              </div>          
            </div>
                <input  class="form-control col-md-12 form-control-sm" formControlName="paciente_apellido"  />                  

          </div>

          <div class="form-group ">
            <div class="row">
              <div class="col-10">
                <label  >Nombre</label>
              </div>          
            </div>
                <input  class="form-control col-md-12 form-control-sm" formControlName="paciente_nombre"  />                  
          </div>

          <div class="form-group ">
            <div class="row">
              <div class="col-10">
                <label  >Fecha de nacimiento</label>
              </div>          
            </div>
                <input   class="form-control col-md-12 form-control-sm" formControlName="paciente_fecha_nacimiento" [value]="formPaciente.get('paciente_fecha_nacimiento').value|date:'MM/dd/yyyy'"  />                  
          </div>

        

          <div class=" clearfix">
              <button    class="btn btn-outline-info float-right btn-sm" type="submit" (click)="actualizarDatos()" >Crear -Editar paciente</button>
          </div>
         
        </form>
       

        <form [formGroup]="formFormaDepago">
            <h5>Formas de pago</h5>
            <hr>
            <div class="row">
                
              <div class="col-6">
                  <div class="form-group ">
                      <div class="row">
                        <div class="col-10">
                          <label  >Pago Obra social</label>
                        </div>          
                      </div>
                      <p-dropdown [options]="tipoPago"  formControlName="forma_pago_obra_social" placeholder="Forma de pago" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
  
                    
              </div>
              <div class="col-6">
                  <div class="form-group ">
                      <div class="row">
                        <div class="col-10">
                          <label  >Pago coseguro</label>
                        </div>          
                      </div>
                      <p-dropdown [options]="tipoPago"  formControlName="forma_pago_coseguro" placeholder="Forma de pago" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
  
                 
                </div>
            </div>
            </form>
        
      </div>
      <div class="col-md-4 col-xl-3">

          <form [formGroup]="formObraSocial">
              <h5>Obra social</h5>
              <hr>
                <div class="form-group ">
                  <div class="row">
                    <div class="col-10">
                      <label  >Obra social</label>
                    </div>  
                    <div class="col-2">
                        <a  (click)="buscarObraSocial()">
                          <img class="pointer float-right" src="assets/icons/grey/outline_search_black_18dp.png" width="24px" height="24px" >
                        </a>
                    </div>
                  </div>
                      <input  (keyup.enter)="buscarObraSocial()" class="form-control col-md-12 form-control-sm" formControlName="obra_social_nombre"  />                  
                  <div *ngIf="formObraSocial.controls.obra_social_nombre.errors?.required && formObraSocial.controls.obra_social_nombre.touched" class="error">
                          * Este campo es requerido
                  </div>
              </div>
    
              <div class="form-group ">
                <div class="row">
                  <div class="col-10">
                    <label  >Coseguro</label>
                  </div>                          
                <div class="col-2">
                    <a  (click)="buscarObraSocialCoseguro()">
                      <img class="pointer float-right" src="assets/icons/grey/outline_search_black_18dp.png" width="24px" height="24px" >
                    </a>
                </div>
              </div>
                    <input  (keyup.enter)="buscarObraSocialCoseguro()" class="form-control col-md-12 form-control-sm" formControlName="coseguro_nombre"  />                               
              </div>
              <div class="form-group ">
                  <div class="row">
                    <div class="col-10">
                      <label  >Práctica</label>
                    </div>                                           
                </div>
                      <input   class="form-control col-md-12 form-control-sm" formControlName="pmo_descripcion"  />                                  
                </div>
             
             
                  <div class="row">
                      <div class="col-6">
                          <div class="form-group ">
                              <div class="row">
                                <div class="col-10">
                                  <label  >Nivel</label>
                                </div>                                        
                              </div>
                                  <input   class="form-control col-md-12 form-control-sm" formControlName="complejidad"  />                                
                             </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <div class="row">
                                  <div class="col-10">
                                    <label  >Codigo</label>
                                  </div>                                           
                              </div>
                                    <input   class="form-control col-md-12 form-control-sm" formControlName="codigo"  />                                  
                              </div>
                          </div>
                         
                  </div>

                  <div class="form-group ">
                      <div class="row">
                        <div class="col-10">
                          
                        </div>                                           
                    </div>
                        <button class="btn btn-success btn-sm btn-block " (click)="buscarCirugiaCombinada()">Cargar cirugia combinada</button>                             
                    </div>
              <div class="row">
                <div class="col-6">
                  
                  <div class="form-group ">
                      <div class="row">
                        <div class="col-10">
                          <label  >valor práctica</label>
                        </div>                                        
                      </div>
                          <input  class="form-control col-md-12 form-control-sm" formControlName="valor" (change)="sumar()" />  
                          <div *ngIf="formObraSocial.controls.valor.errors?.required && formObraSocial.controls.valor.touched" class="error">
                              * Este campo es requerido
                      </div>                                 
                    </div>
                   
                </div>

                <div class="col-6">
                   
                    <div class="form-group ">
                        <div class="row">
                          <div class="col-10">
                            <label  >valor coseguro</label>
                          </div>                                        
                        </div>
                            <input  class="form-control col-md-12 form-control-sm" formControlName="coseguro_valor" (change)="sumar()" />  
                            <div *ngIf="formObraSocial.controls.coseguro_valor.errors?.required && formObraSocial.controls.coseguro_valor.touched" class="error">
                                * Este campo es requerido
                        </div>                                 
                      </div>
                     
                    <div class="form-group ">
                        <div class="row">
                          <div class="col-10">
                            <label  ></label>
                          </div>                                        
                        </div>
                        <h4><span  class="text-success">TOTAL : {{valTotalFinal |  number : '1.2-2' }}</span> </h4>
                      </div>
                </div>

               
              
              </div>

                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                <button    [formGroup]="formObraSocial" class="btn btn-info btn-lg float-right" type="submit" (click)="confirmarOperacion()" >Realizar operación de cobro</button>
                        </div>
                    </p-footer>
            </form>

        
      </div>

  </div>    
  
</div>