<div >
 
    <div class="row">
      <div class=" col-8">
          <p-dropdown [options]="elementos" [(ngModel)]="selectedMedicoOpera" optionLabel="nombre" [style]="{'width':'350px'}"></p-dropdown>
      </div>
      <div class=" col-2">
        <div class="input-group mb-2">
            <input type="number" (change)="calcularPorcentaje()" class="form-control" [(ngModel)]="medicoOperaPorcentaje" placeholder="Porcentaje" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
      </div>

      <div class=" col-2">
          <div class="input-group mb-3">
          <input type="number"  class="form-control" [(ngModel)]="medicoOperaDistribucion" placeholder="Distribución" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">$</span>
          </div>
        </div>
      </div>

      <div class=" col-8">
          <p-dropdown [options]="elementos" [(ngModel)]="selectedMedicoAyuda" optionLabel="nombre" [style]="{'width':'350px'}"></p-dropdown>
      </div>
      <div class=" col-2">
        <div class="input-group mb-2">
            <input type="text" (change)="calcularPorcentaje()" class="form-control" [(ngModel)]="medicoAyudaPorcentaje" placeholder="Porcentaje" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
      </div>

      <div class=" col-2">
          <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="medicoAyudaDistribucion" placeholder="Distribución" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">$</span>
          </div>
        </div>
      </div>

      <div class=" col-8">
          <p-dropdown [options]="elementos" [(ngModel)]="selectedMedicoAyuda2" optionLabel="nombre" [style]="{'width':'350px'}"></p-dropdown>
      </div>
      <div class=" col-2">
        <div class="input-group mb-2">
            <input type="text" (change)="calcularPorcentaje()" class="form-control" [(ngModel)]="medicoAyuda2Porcentaje" placeholder="Porcentaje" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
      </div>

      <div class=" col-2">
          <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="medicoAyuda2Distribucion" placeholder="Distribución" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">$</span>
          </div>
        </div>
      </div>

      <div class=" col-8">
          <p-dropdown [options]="elementos" [(ngModel)]="selectedClinica" optionLabel="nombre" [style]="{'width':'350px'}"></p-dropdown>
      </div>
      <div class=" col-2">
        <div class="input-group mb-2">
            <input type="number" (change)="calcularPorcentaje()" class="form-control" [(ngModel)]="medicoClinicaPorcentaje" placeholder="Porcentaje" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
      </div>

      <div class=" col-2">
          <div class="input-group mb-3">
          <input type="number" class="form-control" [(ngModel)]="medicoClinicaDistribucion" placeholder="Distribución" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">$</span>
          </div>
        </div>
      </div>
      <hr>
      <div class=" col-6"></div>
      <div class=" col-2"></div>
      <div class=" col-4">
          <h6 class="text-info">TOTAL A CALCULADO {{TOTAL_CALCULADO|  number : '1.2-2' }} $</h6>    
      </div>
  </div>
    
    
    


  </div>

<hr>
<h5 class="text-info">TOTAL A DISTRIBUIR {{TOTAL_DISTRIBUCION|  number : '1.2-2' }}</h5>

<div><button    class="btn  btn-success btn-sm "  (click)="guardarDistribucion()" >Guardar distribución</button></div>  