
    <p-menubar  [model]="general" *ngIf="loggedIn" autoZIndex="false" styleClass="my-navbar  "  [autoDisplay]="false"  >
            
               
                <div class="flexbox " >                      
                 <div class=" float-right pt-2">  <label class="text-info">{{username}}</label></div>                                             
                        </div> 
    </p-menubar> 

    <div class="navbar-main alineacion-flexbox" *ngIf="loggedIn" >
            <div >
                        <div class="button">                        
                <i  (click)="verChat()" class="fa fa-comment pointer my-hover nav-links"></i>
                <span *ngIf="chats" class="button__badge">0</span>
                </div> 
        
                <div class="button">                              
                <i (click)="verNotificacion()" class="fas fa-bell pointer my-hover nav-links"></i>
                <span *ngIf="notificaciones"  class="button__badge"><b>{{notificaciones}}</b></span>
                </div> 
            </div>
            <div >
          
            <div class="button"> 
                <i #aa (click)="cerrarSesion()" class="fas fa-power-off my-hover nav-links"></i>
            </div>
              
            </div>
    </div>
   

    <div class="wrapper fadeInDown" *ngIf="!loggedIn">
      <!--   <div id="formContent">
      <h2 class="active"> Ingresar</h2>
      <div class="fadeIn first">
        <img src="assets/img/login-user.jpg" id="icon" alt="User Icon" />
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="username" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="password" formControlName="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Ingresar">
        
      </form>
      
      </div> -->
      <div class="limiter">
        <div class="container-login100">
                <div class="wrap-login100">
                        <div class="login100-form-title" style="background-image: url(assets/images/bg-01.jpg);">
                                <span class="login100-form-title-1">
                                        Bienvenido
                                </span>
                        </div>

                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                        <span class="label-input100">Usuario</span>
                                        <input class="input100"  formControlName="username" type="text" name="username" placeholder="Usuario" autofocus>
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                                        <span class="label-input100">Contraseña</span>
                                        <input class="input100" formControlName="password" type="password" name="pass" placeholder="Contraseña">
                                        <span class="focus-input100"></span>
                                </div>
                           
                            

                                <div class="container-login100-form-btn">
                                        <button class="login100-form-btn">
                                                Ingresar
                                        </button>
                                </div>
                        </form>
                </div>
        </div>
</div>
      
      </div>