
<div class="p-2">
    <app-loading *ngIf="loading"> </app-loading> 
   
</div>


<div class="row col-md-12 animated fadeIn slow" *ngIf="!loading">

        <p-table #dt [columns]="cols"  [value]="elementos" selectionMode="single" [resizableColumns]="true"
         [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="400px" >
        <ng-template pTemplate="caption">
                <div class="row">
                        <div class="col-md-7" style="text-align:left">
                            <button type="button" class="btn btn-outline-info btn-md" (click)="showDialogToAdd()" >Nuevo</button>                            
                        </div>
                <div class="col-md-5" style="text-align:right">                                
                    <input  class="form-control col-md-12" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')" >
                </div>
        </div>
            </ng-template>
        <ng-template pTemplate="header" let-columns >

                <tr>
                    <th  *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn >
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                        <input class="form-control col-md-12" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                   
                </tr>
            </ng-template>
     
            <ng-template pTemplate="body" let-elementos>
                        <tr [pSelectableRow]="elementos" >
                            <td>{{elementos.nombre}}</td>
                                                                         
                        </tr>
                    </ng-template>
          
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                  
                   
                </div>
            </ng-template>    
        </p-table>
    


        <p-dialog  [responsive]="true" positionTop="40" header="Editar" maximizable="true" [(visible)]="displayDialog" showEffect="fade" [rtl]="true" [modal]="true" appendTo="body" >

            
            <form class="col-md-12"  [formGroup]="updateDataForm" (ngSubmit)="actualizarDatos()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                                <label  >Nombre</label>
                                <input class="form-control col-md-12" formControlName="nombre"   />
                                <div *ngIf="updateDataForm.controls.nombre.errors?.required && updateDataForm.controls.nombre.touched" class="error">
                                        * Este campo es requerido
                                </div>
                        </div>
            </div>
         
        </div>
             
            </form>
            <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button *ngIf="!newPopItem" [disabled]="!updateDataForm.valid" [formGroup]="updateDataForm" class="btn btn-primary" type="submit" (click)="actualizarDatos()" >Actualizar</button>
                            <button *ngIf="newPopItem" [disabled]="!updateDataForm.valid"  [formGroup]="updateDataForm" class="btn btn-primary" type="submit" (click)="nuevoItem()" >Crear</button>
                    </div>
                </p-footer>
       
         
        </p-dialog>
</div>